.center {
  align-items: center;
}

.intro-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0.5em;
}

.intro-container .image-title {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-container .main-stats {
  height: 80%;
}

.intro-container .main-stats .first-row {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 30%;
}

.intro-container .main-stats .second-row {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  justify-content: center;
  height: 70%;
}

.intro-container .main-stats .second-row .lowongan-small {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1.5em;
  width: 33.33%;
  box-sizing: border-box;
  justify-content: space-between;
}

.intro-container .main-stats .third-row {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
